.skills__light {
  margin-top: 10vh;
  width: 100vw;
  color: $secondaryColor2;
  font-size: $fontMainSize;
  font-family: $fontMainTitle;
  background-image: linear-gradient(
    to top,
    #e347ff 0%,
    rgb(255, 255, 255) 100%
  );
}
