._languageCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      font-family: $fontMainTitle;
      color: $secondaryColor;
      font-size: 2vw;
      margin-bottom: 2vh;
      font-weight: 400;
    }

    &__img {
      width: 10vw;
    }
  }
}
