//Main colors
$mainColor: rgb(66, 47, 213);
$secondaryColor: rgb(101, 214, 227);


//Secondary colors
$mainColor2: #5c1a96;
$secondaryColor2: #bc6aff;

//Terciary colors
$mainColor3: rgb(255, 255, 255);
$secondaryColor3: rgb(0, 0, 0);

//Font-Family
$fontMainTitle: "Montserrat";
$fontText: "Abel";

//Font-Size
$fontMainSize: 2vw;
$fontTextSize: 1.7vw;
