//Main colors
$mainColor: rgb(66, 47, 213);
$secondaryColor: rgb(0, 245, 131);

//Secondary colors
$mainColor2: #5c1a96;
$secondaryColor2: #bc6aff;

//Font-Family
$fontMainTitle: "Montserrat";
$fontText: "Abel";

//Font-Size
$fontMainSize: 2vw;
$fontTextSize: 1.7vw;
