._navbar {
z-index: 50;
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: $fontMainTitle;
  text-shadow: 1px 1px 1px rgb(242, 0, 255);
  color: $mainColor;
  padding: 1vh 2vw 1vh 2vw;
  height: 10vh;
  font-size: $fontTextSize;

  &__img{
    width: 3vw;
  }

  &__dark {
    color: $secondaryColor;
    margin-left: 1vw;
    cursor: pointer;
    font-family: $fontMainTitle;
    font-size: $fontTextSize;
    font-weight: 100;

    &__span{
      color: red;
    }

&__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

  }

  &__container {
    &__ul {
      padding: 2vh 0 1vh 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      font-family: $fontMainTitle;

      &__li {
        color: $secondaryColor;
        padding: 1vh 2vw 1vh 2vw;
        font-size: $fontTextSize;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $mainColor;
          padding: 1vh 2vw 1vh 2vw;
          font-size: $fontTextSize;
          letter-spacing: 2px;
        }
      }
    }
  }
}
