._navbar {
  transform: translateX(232%);
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 7.5%;
  font-family: $fontMainTitle;
  text-shadow: 1px 1px 1px wheat;
  color: $mainColor;
  height: 10vh;
  font-size: $fontTextSize;


  &__img {
    width: 3vw;
    cursor: pointer;
  }

    &__span {
      color: red;
    }

    &__container {
      display: flex;
      flex-direction: column;
    }


  &__container {
    width: 30vw;
    &__ul {
      text-align: left;
      padding: 2vh 0 1vh 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      font-family: $fontMainTitle;

      &__li {
        color: white;
        padding: 1vh 10vw 1vh 0;
        font-size: $fontTextSize;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        text-align: left;
        transform: translateX(86%);



        &__cont {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          width: 100%;
          background-color: rgba(255, 255, 255, 0.3);
          border: solid 1px white;
          border-radius: 12px;
          padding: 0.5rem 0 0.5rem 0.5rem;
          backdrop-filter: blur(9px);
          -webkit-backdrop-filter: blur(9px);

          &__link{
            padding-left: 1rem;
            text-shadow: 1px 1px 1px black;
            font-size: 1.6rem;
          }
        }

        &:hover {
          color: white;
          font-style: bold;
          font-weight: 700;
          font-size: $fontTextSize;
          text-shadow: 1px 1px 1px $mainColor;
          transform: translateX(53%);
          padding: 1vh 6vw 1vh 0;
        }
        
      }
    }
  }
}
