._softSkillsCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      font-family: $fontMainTitle;
      color: wheat;
      font-size: 1.2rem;
      margin-bottom: 2vh;
      font-weight: 400;
      width: 100%;
      text-align: center;
    }

    &__img {
      width: 5rem;
    }
  }
}
